<app-loader *ngIf="isLoading" ></app-loader>
<div class="container">
    <form  [formGroup]="formGroup">
  <!-- header -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 header">
        Recipe
    </div>
  </div>

  <!-- form open -->

  <div class="row">
      <div class="col-lg-4  col-md-4  col-xs-12 col-sm-12 myCol  ">
          <mat-form-field class="fullwidth">
              <input matInput
              placeholder="Recipe Name"
              formControlName ="recipeName"
             >
            </mat-form-field>
      </div>
      <div class="col-lg-4  col-md-4  col-xs-12 col-sm-12 align-content-center myCol">
          <mat-form-field class="example-full-width qtytextfiled">
              <input matInput
              placeholder="Quantity"
              formControlName ="recipeQty"
              >
            </mat-form-field>
      </div>

      <div class="col-lg-4  col-md-4  col-xs-12 col-sm-12 align-content-center myCol ">
          <mat-form-field class="example-full-width qtytextfiled">
              <input matInput
              placeholder="Unit"
              formControlName ="recipeUnit"
              >
            </mat-form-field>

       </div>


  </div>

  <div class="row">
    <div class="col-lg-12  col-md-12  col-xs-12 col-sm-12 align-content-center">
      <span class="subtitle">Nutrition Fact</span>
    </div>
    <div class="col-lg-3  col-md-3  col-xs-12 col-sm-12     ">
     </div>
    <div class="col-lg-3  col-md-3  col-xs-12 col-sm-12 align-content-center ">
        <mat-form-field class="example-full-width">
            <input matInput
            placeholder="Quantity"
            formControlName ="nutritionQty"
            class="access">
          </mat-form-field>
    </div>

    <div class="col-lg-3  col-md-3  col-xs-12 col-sm-12 align-content-center  ">
        <mat-form-field class="example-full-width">
            <input matInput
            placeholder="Unit"
            formControlName ="nutritionUnit"
            class="access">
          </mat-form-field>

     </div>
     <div class="col-lg-3  col-md-3  col-xs-12 col-sm-12  ">
      </div>

  </div>

  <div class="row">
      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
        <div class="card">
          <mat-checkbox
            (change)="addandRemoveValidation('protinNutration','protinMin','protinMax')"
            class="mat-checkbox"
            formControlName ="protinNutration">

          </mat-checkbox>
          <span class="nutritionname">Protein</span>
          <div class="minmaxbox">
          <mat-form-field class="nutrationInput minmaxtextfiled">
              <input matInput
              formControlName ="protinMin"
              placeholder="Min"
              >
          </mat-form-field>
              <mat-form-field class="nutrationInput minmaxtextfiled">
                <input matInput
                formControlName ="protinMax"
                placeholder="Max">
             </mat-form-field>

            </div>


        </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('lipidNutration','lipidMin','lipidMax')"
              formControlName ="lipidNutration"></mat-checkbox>


            <span class="nutritionname">Lipid</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="lipidMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="lipidMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('ashNutration','ashMin','ashMax')"
              formControlName ="ashNutration"></mat-checkbox>

            <span class="nutritionname">Ash</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="ashMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="ashMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('fiberNutration','fiberMin','fiberMax')"
              formControlName ="fiberNutration"></mat-checkbox>



            <span class="nutritionname">Fiber</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="fiberMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="fiberMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

     <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('sugarNutration','sugarMin','sugarMax')"
              formControlName ="sugarNutration"></mat-checkbox>



            <span class="nutritionname">Sugar</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="sugarMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="sugarMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('calciumNutration','calciumMin','calciumMax')"
              formControlName ="calciumNutration"></mat-checkbox>


            <span class="nutritionname">Calcium</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="calciumMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="calciumMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>


      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="example-margin"
              (change)="addandRemoveValidation('ironNutration','ironMin','ironMax')"
              formControlName ="ironNutration"></mat-checkbox>



            <span class="nutritionname">Iron</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="ironMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="ironMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('potassiumNutration','potassiumMin','potassiumMax')"
                formControlName ="potassiumNutration"></mat-checkbox>


            <span class="nutritionname">Potassium</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="potassiumMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="potassiumMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>


      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('sodiumNutration','sodiumMin','sodiumMax')"

              formControlName ="sodiumNutration"></mat-checkbox>


            <span class="nutritionname">Sodium</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="sodiumMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="sodiumMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
          <div class="card">
              <mat-checkbox class="mat-checkbox"
              (change)="addandRemoveValidation('fa_satNutration','fa_satMin','fa_satMax')"

              formControlName ="fa_satNutration"></mat-checkbox>

            <span class="nutritionname">FA_Sat</span>
            <div class="minmaxbox">
                <mat-form-field class="nutrationInput minmaxtextfiled">
                    <input matInput
                    formControlName ="fa_satMin"
                    placeholder="Min">
                  </mat-form-field>
                  <mat-form-field class="nutrationInput minmaxtextfiled">
                      <input matInput
                      formControlName ="fa_satMax"
                      placeholder="Max">
                   </mat-form-field>

              </div>


          </div>
      </div>

  </div>





  <div class="row" style="padding-top:10px;">
      <div class="col-lg-12  col-md-12  col-xs-12 col-sm-12 align-content-center">
        <span class="subtitle">Ingredient Details</span>
      </div>
      <div class="col-lg-12  col-md-12  col-xs-12 col-sm-12 align-content-center">
         <mat-form-field class="nutrationInput qtytextfiled" >
              <input matInput
              formControlName ="ingredientUnit"
              placeholder="Unit">
            </mat-form-field>
      </div>


  </div>

  <div class="row">
      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol" formArrayName="ingredient"  *ngFor="let item of formGroup.get('ingredient').controls; let i = index;">
        <div class="card" [formGroupName]="i">
            <mat-form-field class="halfwidth">
                <input matInput
                formControlName ="Name"
                placeholder="Name">
              </mat-form-field>

              <mat-form-field class="halfwidth">
                  <input matInput
                  formControlName ="Cost"
                  placeholder="Cost">
                </mat-form-field>
              <div style="display: flex;">
                <mat-checkbox class="mat-checkbox1"
                formControlName ="fixIngrident"></mat-checkbox>

                <mat-form-field class="halfwidth">
                  <input matInput
                  formControlName ="fixIngridentAmount"
                  placeholder="Fix Inngredient">
                </mat-form-field>
                </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-4  col-xs-12 col-sm-12 nutritioncol">
        <div class="card card1" >
                <button type="button" (click)="addItem()"  class="btn btn-primary addBtn"  >+</button>

        </div>
      </div>
  </div>


  <div class="row" style="padding:20px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-content-center">
        <button class="btn btn-primary fullwidth" (click)="onSubmit()" >Submit</button>
      </div>
  </div>

</form>

</div>
