<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-9 logodiv ">
        <img src="../../assets/logo.png">

      </div>
      <div class="col-lg-3 col-md-3 col-2 ">
        <div class="desktopMenu">
          <ul style="padding:0px;margin:0px;">
            <li><a [routerLink]="['/recipe']">Recipe</a></li>
            <li><a [routerLink]="['/recipeData']">Data</a></li>
          </ul>

        </div>

        <div class="menuIcon" (click)="menuToggle()"  >
          <div></div>
          <div></div>
          <div></div>

        </div>
      </div>


    </div>
  </div>
</div>


<div class="sideMenuDiv" *ngIf="menu" >
  <div class="row" style="height:100%;">
    <div class="col-lg-4 col-md-4 col-6 menuList">
      <ul style="padding:0px;margin:0px;">
        <li><a [routerLink]="['/recipe']">Recipe</a></li>
        <li><a [routerLink]="['/recipeData']">Data</a></li>
      </ul>
    </div>
    <div class="col-lg-8 col-md-8 col-6 " (click)="menuToggle()" >
    </div>

  </div>

</div>







<form [formGroup]="formGroup">
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 ">

      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 mainContainer ">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 ">
            <label for="recipeName">
              Recipe Name
            </label><br />
            <input type="text" class="inputTypeText"    formControlName ="recipeName" >
          </div>
          <div class="col-lg-2 col-md-2 col-6 ">
            <label for="qty">
              Quantity
            </label><br />
            <input type="text"   formControlName ="recipeQty" class=" inputTypeText">
          </div>

          <div class="col-lg-4 col-md-4 col-6 ">
            <label for="unit">
              Unit
            </label><br />
            <input type="text"      formControlName ="recipeUnit" class=" inputTypeText">
          </div>

        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-lg-2 col-md-2">
          </div>
          <div class="col-lg-8 col-md-8 col-12  "
            style="padding:5px 0px;text-align: center;border-bottom: 1px solid #e2e1e1;">
            <h4 class="subtitle">Nutration Facts</h4>
          </div>
          <div class="col-lg-2 col-md-2">
          </div>


        </div>

        <div class="row" style="margin-top:20px;">
          <div class="col-lg-2 col-md-2 col-6 ">
            <label for="qty">
              Quantity
            </label><br />
            <input type="text"  formControlName ="nutritionQty" class=" inputTypeText">
          </div>

          <div class="col-lg-4 col-md-4 col-6 ">
            <label for="unit">
              Unit
            </label><br />
            <input type="text"     formControlName ="nutritionUnit" class=" inputTypeText">
          </div>

        </div>
        <div class="nutrationList">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                formControlName ="protinNutration"
                (change)="addandRemoveValidation('protinNutration','protinMin','protinMax')"
                class="largerCheckbox"> <span class="nutrationLabel">Protein</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text" formControlName ="protinMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"   formControlName ="protinMax"class=" inputTypeText">

            </div>


          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('lipidNutration','lipidMin','lipidMax')"
                formControlName ="lipidNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Lipid</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"
              formControlName ="lipidMin"
              class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"
              formControlName ="lipidMax"
              class=" inputTypeText">

            </div>


          </div>


          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('ashNutration','ashMin','ashMax')"
                formControlName ="ashNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Ash</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"
              formControlName ="ashMin"
              class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"
              formControlName ="ashMax"
               class=" inputTypeText">

            </div>


          </div>



          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('fiberNutration','fiberMin','fiberMax')"
                      formControlName ="fiberNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Fiber</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text" formControlName ="fiberMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text" formControlName ="fiberMax" class=" inputTypeText">

            </div>


          </div>


          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('sugarNutration','sugarMin','sugarMax')"
                        formControlName ="sugarNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Fiber</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"   formControlName ="sugarMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text" formControlName ="sugarMax" class=" inputTypeText">

            </div>


          </div>



          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('calciumNutration','calciumMin','calciumMax')"
                formControlName ="calciumNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Calcium</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"  formControlName ="calciumMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text" formControlName ="calciumMax" class=" inputTypeText">

            </div>


          </div>


          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('ironNutration','ironMin','ironMax')"

                            formControlName ="ironNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Iron</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"  formControlName ="ironMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"  formControlName ="ironMax" class=" inputTypeText">

            </div>


          </div>



          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('potassiumNutration','potassiumMin','potassiumMax')"
                formControlName ="potassiumNutration"
                class="largerCheckbox"> <span class="nutrationLabel">Potassium</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"
              formControlName ="potassiumMin"
              class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"
              formControlName ="potassiumMax"
              class=" inputTypeText">

            </div>


          </div>



          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('sodiumNutration','sodiumMin','sodiumMax')"
                formControlName ="sodiumNutration"
                class="largerCheckbox"> <span class="nutrationLabel">sodium</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"  formControlName ="sodiumMin" class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"  formControlName ="sodiumMax" class=" inputTypeText">

            </div>


          </div>




          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
              <div class="checkboxdiv">
                <input type="checkbox"
                (change)="addandRemoveValidation('fa_satNutration','fa_satMin','fa_satMax')"

                                formControlName ="fa_satNutration"
                class="largerCheckbox"> <span class="nutrationLabel">FA_Sat</span>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Min
              </label><br />
              <input type="text"
              formControlName ="fa_satMin"
               class=" inputTypeText">
            </div>
            <div class="col-lg-3 col-md-3 col-6 ">
              <label for="qty">
                Max
              </label><br />
              <input type="text"
              formControlName ="fa_satMax"
              class=" inputTypeText">

            </div>


          </div>


        </div>




        <div class="ingridentDiv" style="margin-top:30px;" >
          <div class="row" style="margin-top: 10px;">
            <div class="col-lg-2 col-md-2">
            </div>
            <div class="col-lg-8 col-md-8 col-12  "
              style="padding:5px 0px;text-align: center;border-bottom: 1px solid #e2e1e1;">
              <h4 class="subtitle">Ingredient</h4>
            </div>
           <div class="col-lg-2 col-md-2" style="text-align: right;" >
              <button class="addbtn" (click)="addItem()"  >+</button>

            </div>


          </div>


          <div class="row " style="margin:10px 0px;">
            <div class="col-lg-4 col-md-4">
            </div>
            <div class="col-lg-4 col-md-4">

            <label for="name">Unit</label><br>
            <input type="text" id="name" formControlName ="ingredientUnit" class="inputTypeText">
            </div>
            <div class="col-lg-4 col-md-4">
            </div>
          </div>

          <div formArrayName="ingredient"  *ngFor="let item of formGroup.get('ingredient').controls; let i = index;">
            <div class="row"  [formGroupName]="i">
              <div class="col-lg-4 col-md-4 col-8">
                <label for="name">Name</label><br>
                <input type="text" id="name" formControlName ="Name" class="inputTypeText">
              </div>

              <div class="col-lg-2 col-md-2 col-4">
                <label for="cost">Cost</label><br>
                <input type="text" id="cost"   formControlName ="Cost" class="inputTypeText">
              </div>

              <div class="col-lg-2 col-md-2 col-4" style="text-align: center;padding: 35px 0px;">
                <input type="checkbox"  formControlName ="fixIngrident" class="largerCheckbox">
              </div>
              <div class="col-lg-4 col-md-4 col-8" >
                <label for="fixIngridentAmount">Fix Inngredient</label><br>
                <input type="text" formControlName ="fixIngridentAmount" id="fixIngridentAmount" class="inputTypeText">
              </div>
            </div>
          </div>




        </div>












        <div class="row" style="padding:20px;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-content-center">
            <button class="btn submitBtn" (click)="onSubmit()" >Submit</button>
          </div>
      </div>























      </div>

    </div>

  </div>

</div>
</form>
