.main {

  padding: 20px;
 }
 .header {
   padding:10px 0px;
   text-align: center;
   font-size: 20px;
   font-family: 500;
   color: white;
   background: #1F62FF;
 }
 .maindiv {
   margin-top:100px;
   padding:0px;
   background: white;
   box-shadow: 0px 13px 15px -10px black;
 }
 .fullwidth {
   width:100%;
   margin-top:10px;;
 }
:host /deep/ .mat-focused {
  border-bottom:0px;
}
.btn {
  background: #1F62FF;
  color:white;
}
:host /deep/ .mat-form-field-infix
{
  border: 1px solid #ccc;

}
:host /deep/ .mat-form-field-infix label {
  padding-left: 7px;
}

:host /deep/ .mat-form-field-infix label span {
  color:gray
}
