<app-loader *ngIf="isLoding" ></app-loader>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 maindiv">
      <div class="header">
        <img src="../../assets/logo.png">
      </div>
      <div class="main">
        <form [formGroup]="formGroup">

          <label for="userName">User Name</label><br>
          <input type="text" id="userName" class="inputTypeText"   formControlName="userName" ><br>

          <label for="pwd">Pssword</label><br>
          <input type="text" id="pwd" class="inputTypeText"   formControlName="password" >


          <button class="btn fullwidth" type="button" (click)="login()" >Login</button>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
  </div>
</div>
