








.header {
  width:100%;
  background-color: white;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}

.header img {
  height:50px;
 }
 .logodiv {
  padding:6px 48px
 }
 .desktopMenu ul  li {
   display: inline-block;
    padding:18px 37px;
    color:rgb(51, 51, 51);
    margin-left: 10px;;

 }
 .desktopMenu ul  li:hover {
 border-bottom:2px solid #7fd858;
 }
 .desktopMenu ul {
   padding:0px;
 }
 .main {
   margin-top: 50px;


 }
 .mainContainer{
   background: white;
   padding: 20px;
   border-radius: 2px;;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
 }
 .desktopMenu ul li a {
  color:rgb(51, 51, 51);
  text-decoration: none;
 }
 .menuList ul li a {
  color:rgb(51, 51, 51);
  text-decoration: none;
 }
.subtitle {
  color:gray;
}
.checkboxdiv
{
  padding-top: 40px;
}
.titleSub {
  margin-top: 20px;;
}
 .inputTypeText {
   width:100%;
   border:1px solid #e3e2e2;
   border-radius: 3px;
   padding:6px 1px;
 }
 label {
  font-size: 14px;
  color:#605656;
 }


 input.largerCheckbox {
  transform : scale(1.5);
  background: green;
}
.nutrationLabel {
  padding:0px 20px;
}
.nutrationList {
  overflow-y: scroll;
  overflow-x: hidden ;
  padding:10px;
  height:300px;
  margin-top: 20px;
}
.sideMenuDiv {
  background: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top:0;
}


.menuList {
  background: white;
  height:100%;
}


.menuList ul  li {
  display: block;
   padding:18px 37px;
   color:rgb(51, 51, 51);
  text-align: center;
}
.menuList ul  li:hover {
  border-bottom:2px solid #7fd858;
  }

.nutrationList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.nutrationList::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.nutrationList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d0d0d8;
}
.addbtn {
  background: #9c9696;
  border:1px solid;
  color:white;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  width:40px;
  padding:5px;
  border-radius: 50%;
}


.submitBtn{
  background-color: #7fd858;
  color:white;
  width: 100%;;
}




.toglebtn {
  display: none;
}
.menuIcon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

}
.menuIcon {
  padding:20px;
  display:none;
}
@media only screen and (max-width: 600px) {
  .toglebtn,.menuIcon {
    display: block;
  }
.desktopMenu {
  display: none;
}

}
